.slide {
}
.slide .single-slide {
  width: 100%;
}
/* 
@media screen and (min-width: 1200px) {
  .slide .single-slide {
    height: 660px;
  }
} */

.slide .slick-next {
  right: 24px;
  z-index: 99;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.slide .slick-prev {
  left: 24px;
  z-index: 99;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.slide:hover .slick-prev,
.slide:hover .slick-next {
  opacity: 1;
}

.slide .slick-list {
  border-radius: 8px;
  overflow: hidden;
}
.slide .single-slide .img-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: inherit;
}
.slide .single-slide img {
  width: 100%;
  height: auto;
}

.slide .slick-dots {
  bottom: -100px;
}
.slide .slick-dots .dots-wrapper {
  margin: 0;
  padding: 0;
}
.slide .slick-dots li {
  margin: 0 4px;
  padding: 0;
  width: fit-content;
  height: fit-content;
}
.slide .slick-dots .custom-dot {
  background: #ffffff;
  width: 80px;
  height: 60px;
  border-radius: 8px;
  overflow: hidden;
}
.slide .slick-dots .custom-dot:hover {
  outline: 4px solid rgba(128, 128, 128, 0.336);
  transition: outline 0.125s linear;
}
.slide .slick-dots .slick-active .custom-dot {
  border: 2px solid #ea4c89;
}
