.home .description {
  line-height: 40px;
}

.home .parent {
  position: relative;
}

.home .tooltip {
  background-color: black;
  color: white;
  z-index: 9999999999999999999;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  --tw-bg-opacity: 1;
  position: absolute;
  right: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 12px;
  opacity: 0;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .home .parent:hover .tooltip {
    right: 60px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

.home .tooltip::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: black;
  position: absolute;
  left: calc(100% - 8px);
  transform: rotate(45deg);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
