.home .description {
  line-height: 40px;
}

.home .tooltip {
  width: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px;
  z-index: 9999999999999999999;
  border-radius: 4px;
  width: 0;
  font-size: 14px;
  text-align: center;
  visibility: collapse;
  transition: all 0.2s ease-out;
  line-height: 16px;
  @apply bg-primary-dark;
}
.home .tooltip::after {
  width: 0;
  content: "";
  height: 15px;
  position: absolute;
  transform: rotate(45deg);
  left: 90%;
  @apply bg-primary-dark;
}
.home .parent:hover .tooltip::after {
  width: 15px;
}
.home .parent:hover .tooltip {
  width: 80px;
  visibility: visible;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 1024px) {
  .home .tooltip {
    display: none;
  }
}
