.navbar {
  width: 100%;
  height: 80px;
  background: #fff;
  -webkit-box-shadow: inset 0px -1px 0px #f3f3f4;
  box-shadow: inset 0px -1px 0px #f3f3f4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: transform;
}
